[submodule "zlib"]
	path = zlib
	url = https://github.com/juj/zlib.git
[submodule "SDL2"]
	path = SDL2
	url = https://github.com/juj/SDL2.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/juj/SDL-emscripten.git
